@import "react-leaflet-cluster/dist/assets/MarkerCluster.css";
@import "react-leaflet-cluster/dist/assets/MarkerCluster.Default.css";


@font-face {
  font-family: 'OldLondon';
  src: url('../../public/fonts/OldLondon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}