/* [project]/src/components/Container/Container.module.scss.module.css [client] (css) */
.Container-module-scss-module__JlzzPW__container {
  flex: 1;
  width: 100%;
  max-width: none;
  padding: 0;
  display: flex;
}

@media (max-width: 720px) {
  .Container-module-scss-module__JlzzPW__container {
    padding: 0;
  }
}

.Container-module-scss-module__JlzzPW__container h2:first-child, .Container-module-scss-module__JlzzPW__container h3:first-child, .Container-module-scss-module__JlzzPW__container h4:first-child, .Container-module-scss-module__JlzzPW__container p:first-child, .Container-module-scss-module__JlzzPW__container ul:first-child {
  margin-top: 0;
}

.Container-module-scss-module__JlzzPW__container h2:last-child, .Container-module-scss-module__JlzzPW__container h3:last-child, .Container-module-scss-module__JlzzPW__container h4:last-child, .Container-module-scss-module__JlzzPW__container p:last-child, .Container-module-scss-module__JlzzPW__container ul:last-child {
  margin-bottom: 0;
}

/* [project]/src/components/Header/Header.module.scss.module.css [client] (css) */
.Header-module-scss-module__wS1-Va__header {
  color: #fff;
  background-image: url("../media/concrete.4910a1dd.png");
  width: 100%;
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
}

.Header-module-scss-module__wS1-Va__headerContainer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.Header-module-scss-module__wS1-Va__headerTitle {
  letter-spacing: .1em;
  color: #000;
  margin-left: 0;
  font-family: OldLondon, serif;
  font-size: 2em;
  font-weight: bold;
}

@media (min-width: 630px) {
  .Header-module-scss-module__wS1-Va__headerTitle {
    margin: 3em;
  }
}

.Header-module-scss-module__wS1-Va__headerLogo {
  height: 1.6em;
}

.Header-module-scss-module__wS1-Va__headerLinks {
  letter-spacing: .05em;
  color: #fff;
  padding: 0;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: .7em;
  list-style: none;
}

.Header-module-scss-module__wS1-Va__headerLinks a {
  align-items: left;
  justify-content: left;
  margin-left: .8em;
  display: inline-flex;
}

/* [project]/src/components/Footer/Footer.module.scss.module.css [client] (css) */
.Footer-module-scss-module__wcgw9G__footer {
  color: #fff;
  background-image: url("../media/asphault.bfee3fe1.webp");
  width: 100%;
  padding: 1.2em 0;
}

.Footer-module-scss-module__wcgw9G__footer a {
  color: inherit;
}

.Footer-module-scss-module__wcgw9G__footer p {
  margin: 0 0 .5em;
}

.Footer-module-scss-module__wcgw9G__footer p:last-child {
  margin-bottom: 0;
}

.Footer-module-scss-module__wcgw9G__footerContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: .4em;
  display: flex;
}

@media (max-width: 720px) {
  .Footer-module-scss-module__wcgw9G__footerContainer {
    flex-wrap: wrap;
  }
}

.Footer-module-scss-module__wcgw9G__footerContainer:last-child {
  margin-bottom: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks {
  margin: 0 2em;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (max-width: 720px) {
  .Footer-module-scss-module__wcgw9G__footerLinks {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

.Footer-module-scss-module__wcgw9G__footerLinks li {
  margin: 0 .8em;
}

.Footer-module-scss-module__wcgw9G__footerLinks li:first-child {
  margin-left: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks li:last-child {
  margin-right: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.Footer-module-scss-module__wcgw9G__footerLinks a svg {
  margin-right: .4em;
}

.Footer-module-scss-module__wcgw9G__footerLegal a {
  text-decoration: underline;
}

/* [project]/src/components/Layout/Layout.module.scss.module.css [client] (css) */
.Layout-module-scss-module__rGjB5a__layout {
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  display: grid;
  overflow: hidden;
}

.Layout-module-scss-module__rGjB5a__main {
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  padding: 0;
  display: flex;
  overflow-y: auto;
}

/* [project]/src/components/Gallery/Gallery.module.scss.module.css [client] (css) */
.Gallery-module-scss-module__wfu5LG__galleryWrapper {
  background-image: url("../media/velvet2.a94e0cf7.avif");
  background-size: 100%;
  padding: 0 20px 40px;
}

.Gallery-module-scss-module__wfu5LG__title {
  text-align: center;
  color: #e7b026;
  margin: 1em 0;
  font-family: Times New Roman, serif;
  font-size: 3em;
}

.Gallery-module-scss-module__wfu5LG__grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
  gap: 25px;
  display: grid;
}

.Gallery-module-scss-module__wfu5LG__card {
  border: 40px solid #0000;
  border-image: url("../media/frame.7aaaf30c.png") 310 round;
  flex-direction: column;
  transition: transform .2s;
  display: flex;
  position: relative;
  overflow: hidden;
}

.Gallery-module-scss-module__wfu5LG__card:hover {
  transform: translateY(-5px);
}

.Gallery-module-scss-module__wfu5LG__imageContainer {
  background-color: wheat;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 600px;
  display: flex;
}

.Gallery-module-scss-module__wfu5LG__image {
  width: 100%;
  height: auto;
  display: block;
}

.Gallery-module-scss-module__wfu5LG__content {
  color: #000;
  text-align: center;
  background-image: url("../media/badge2.01e3c592.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

.Gallery-module-scss-module__wfu5LG__snackName {
  margin: 0 0 5px;
  font-size: 1.4em;
}

.Gallery-module-scss-module__wfu5LG__date {
  color: #1b1b1b;
  margin: 0;
  font-size: .85em;
}

.Gallery-module-scss-module__wfu5LG__description {
  color: #1b1b1b;
  margin-top: 10px;
  font-size: .95em;
  line-height: 1.4;
}

/*# sourceMappingURL=src_components_19c5c5dc._.css.map*/