/* [project]/src/components/Container/Container.module.scss.module.css [client] (css) */
.Container-module-scss-module__JlzzPW__container {
  flex: 1;
  width: 100%;
  max-width: none;
  padding: 0;
  display: flex;
}

@media (max-width: 720px) {
  .Container-module-scss-module__JlzzPW__container {
    padding: 0;
  }
}

.Container-module-scss-module__JlzzPW__container h2:first-child, .Container-module-scss-module__JlzzPW__container h3:first-child, .Container-module-scss-module__JlzzPW__container h4:first-child, .Container-module-scss-module__JlzzPW__container p:first-child, .Container-module-scss-module__JlzzPW__container ul:first-child {
  margin-top: 0;
}

.Container-module-scss-module__JlzzPW__container h2:last-child, .Container-module-scss-module__JlzzPW__container h3:last-child, .Container-module-scss-module__JlzzPW__container h4:last-child, .Container-module-scss-module__JlzzPW__container p:last-child, .Container-module-scss-module__JlzzPW__container ul:last-child {
  margin-bottom: 0;
}

/* [project]/src/components/Header/Header.module.scss.module.css [client] (css) */
.Header-module-scss-module__wS1-Va__header {
  color: #fff;
  background-image: url("../media/concrete.4910a1dd.png");
  width: 100%;
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
}

.Header-module-scss-module__wS1-Va__headerContainer {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.Header-module-scss-module__wS1-Va__headerTitle {
  margin-left: 0;
  font-size: 1.6em;
  font-weight: bold;
}

@media (min-width: 500px) {
  .Header-module-scss-module__wS1-Va__headerTitle {
    margin: 3em;
  }
}

.Header-module-scss-module__wS1-Va__headerLogo {
  height: 1.6em;
}

.Header-module-scss-module__wS1-Va__headerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.Header-module-scss-module__wS1-Va__headerLinks li {
  margin: 0 .8em;
}

.Header-module-scss-module__wS1-Va__headerLinks li:first-child {
  margin-left: 0;
}

.Header-module-scss-module__wS1-Va__headerLinks li:last-child {
  margin-right: 0;
}

.Header-module-scss-module__wS1-Va__headerLinks a {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.Header-module-scss-module__wS1-Va__headerLinks a svg {
  margin-right: .4em;
}

/* [project]/src/components/Footer/Footer.module.scss.module.css [client] (css) */
.Footer-module-scss-module__wcgw9G__footer {
  color: #fff;
  background-image: url("../media/asphault.bfee3fe1.webp");
  width: 100%;
  padding: 1.2em 0;
}

.Footer-module-scss-module__wcgw9G__footer a {
  color: inherit;
}

.Footer-module-scss-module__wcgw9G__footer p {
  margin: 0 0 .5em;
}

.Footer-module-scss-module__wcgw9G__footer p:last-child {
  margin-bottom: 0;
}

.Footer-module-scss-module__wcgw9G__footerContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: .4em;
  display: flex;
}

@media (max-width: 720px) {
  .Footer-module-scss-module__wcgw9G__footerContainer {
    flex-wrap: wrap;
  }
}

.Footer-module-scss-module__wcgw9G__footerContainer:last-child {
  margin-bottom: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks {
  margin: 0 2em;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (max-width: 720px) {
  .Footer-module-scss-module__wcgw9G__footerLinks {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

.Footer-module-scss-module__wcgw9G__footerLinks li {
  margin: 0 .8em;
}

.Footer-module-scss-module__wcgw9G__footerLinks li:first-child {
  margin-left: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks li:last-child {
  margin-right: 0;
}

.Footer-module-scss-module__wcgw9G__footerLinks a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
}

.Footer-module-scss-module__wcgw9G__footerLinks a svg {
  margin-right: .4em;
}

.Footer-module-scss-module__wcgw9G__footerLegal a {
  text-decoration: underline;
}

/* [project]/src/components/Layout/Layout.module.scss.module.css [client] (css) */
.Layout-module-scss-module__rGjB5a__layout {
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  display: grid;
  overflow: hidden;
}

.Layout-module-scss-module__rGjB5a__main {
  flex-direction: column;
  padding: 0;
  display: flex;
}

/* [project]/src/components/Section/Section.module.scss.module.css [client] (css) */
.Section-module-scss-module__PVCzVq__section {
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (min-width: 720px) {
  .Section-module-scss-module__PVCzVq__section {
    margin: 0;
    padding: 0;
  }
}

/* [project]/src/components/Button/Button.module.scss.module.css [client] (css) */
.Button-module-scss-module__HB5Z3q__button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: #5fbb9d;
  border: 0;
  border-radius: .2em;
  justify-content: center;
  align-items: center;
  padding: 1em 1.4em;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
}

.Button-module-scss-module__HB5Z3q__button:hover {
  background-color: #83cab3;
}

.Button-module-scss-module__HB5Z3q__button:disabled {
  color: #ffffff80;
  cursor: default;
  opacity: .6;
  background-color: #83cab3;
}

/* [project]/src/styles/Home.module.scss.module.css [client] (css) */
.Home-module-scss-module__FTgTta__title {
  text-align: center;
  margin: 0 0 1em;
  font-size: 3rem;
  line-height: 1.15;
}

.Home-module-scss-module__FTgTta__description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.Home-module-scss-module__FTgTta__view {
  text-align: center;
  margin-top: 3em;
}

.Home-module-scss-module__FTgTta__code {
  background: #fafafa;
  border-radius: 5px;
  padding: .75rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 1.1rem;
}

/*# sourceMappingURL=src_cce9435d._.css.map*/