.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  /* Remove padding so the map can touch the footer and sides */
  padding: 0; 
  display: flex;
  flex-direction: column;
}
