@import "@styles/settings/_settings";

.header {
  width: 100%;
  font-size: 1em;
  color: white;
  background-image: url('../../../public/img/concrete.png');

  padding: 1em 0;
  margin: 0;
}

.headerContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.headerTitle {
  font-size: 2em;
  letter-spacing: .1em;
  font-weight: bold;
  color:black;
  font-family: 'OldLondon', serif;
  margin-left: 0;
  @media (min-width: 500px) {
    margin: 3em;
  }
}

.headerLogo {
  height: 1.6em;
}

.headerLinks {
  // display: flex;
  font-size: .7em;
  letter-spacing: .05em;
  list-style: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin-left: 1em;
  color:white;

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 0.4em;
    }
  }
}
