.galleryWrapper {
  padding: 0 20px 40px;
  background-image: url('../../../public/img/velvet2.avif');
  background-size: 100% auto;
}

.title {
  text-align: center;
  margin: 1em 0;
  font-family: 'Times New Roman', serif; // Your custom font
  font-size: 3em;
  color:rgb(231 176 38);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.card {
  background: wheat;
  border: 1px solid fuchsia;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.imageContainer {
  width: 100%;
  height: 400px;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.content {
  padding: 20px;
  color: white;
}

.snackName {
  font-size: 1.4em;
  margin: 0 0 5px;
}

.date {
  color: #aaa;
  font-size: 0.85em;
  margin: 0;
}

.description {
  margin-top: 10px;
  font-size: 0.95em;
  line-height: 1.4;
  color: #ddd;
}